<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item">
      <img src="/assets/photo1.jpg" alt="">
    </div>
    <div class="item">
      <img src="/assets/photo2.jpg" alt="">
    </div>
    <div class="item active">
      <img src="/assets/photo3.jpg" alt="">
      <div class="container">
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  <%= render :partial => 'countdown' %>
  
</div>



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <div class="row">
    <div class="span4">
      <div class="image">
        <img class="img-circle" src="/assets/embreve.jpg">
      </div>
      <h2>Padrinhos</h2>
      <p>Nossos padrinhos.</p>
      <p><a class="btn" href=<%=godparents_path %>>Veja Todos »</a></p>
    </div><!-- /.span4 -->
    
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140" src="/assets/maeenil.jpg">
      <h2>Pais do casal</h2>
      <p>Conheça os pais do casal</p>
      <p><a class="btn" href=<%=parents_path%>>Veja Todos »</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img class="img-circle" data-src="holder.js/160x160" alt="160x160" style="width: 160px; height: 160px;" src="/assets/moments/noivado2.jpg">
      <h2>Momentos </h2>
      <p>Momentos e pessoas especias.</p>
      <p><a class="btn" href=<%= moments_path%>>Veja Todos »</a></p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->

  <script type="text/javascript">
    console.log($('.audio'))
    $('.audio').children().children().attr('src', "https://s3-sa-east-1.amazonaws.com/marry/marryyou.mp3");
  </script>

<% content_for :bottom do %>   
  <%= javascript_include_tag "countdown_dashboard" %>
<% end %>
